<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<context:annotation-config/>
	
	<bean  id="personService" class="com.tapestry.app.services.PersonServiceBean">
		<!--<constructor-arg  index="0" 
		type="com.tapestry.app.dao.PersonDao" ref="personDao"/>
		<constructor-arg index="1" value="通过构造器注入"/>
		-->
		<property name="personDao"> 
			<bean class="com.tapestry.app.dao.PersonDaoBean"/>
		</property>
		<property name="hello" value="你好！"/>
		<property name="sets">
			<set>
				<value>第一个</value>
				<value>第2个</value>
			</set>
		</property>
		<property name="lists">
			<list>
				<value>第一个 list 元素</value>
				<value>第二个 list 元素</value>
				<value>第三个 list 元素</value>
			</list>
		</property>
		<property name="properties">
			<props>
				<prop key="key1">value1</prop>
				<prop key="key2">value2</prop>
				<prop key="key3">value3</prop>
			</props>
		</property>
		<property name="maps">
			<map>
				<entry key="key-1" value="value-1"/>
				<entry key="key-2" value="value-2"/>
				<entry key="key-3" value="value-3"/>
			</map>
		</property>
	</bean>
</beans>